# Dependencies
node_modules
dist

# Build
build
coverage

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Test
__snapshots__
*.spec.ts
*.test.ts